body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33A;
    font-size: 0.6cm;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0,5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}

#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.5cm;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 1em
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}